		
<div class="col-xs-5" translate>E-mailadres</div><div class="col-xs-7">{{formData.reg.email}}&nbsp;</div>
	
<div class="col-xs-5" translate>Naam</div><div class="col-xs-7"> {{formData.reg.voornaam}} {{formData.reg.tussenvoegsels}} {{formData.reg.achternaam}}&nbsp;</div>
	
<div class="col-xs-5">Straatnaam & nummer</div><div class="col-xs-7">{{formData.reg.straatnaam}} {{formData.reg.huisnummer}}&nbsp;</div>
	
<div class="col-xs-5" translate>Postcode en woonplaats</div><div class="col-xs-7">{{formData.reg.postcode}} {{formData.reg.woonplaats}}&nbsp;</div>
	
<div class="col-xs-5" translate>Telefoonnummer</div><div class="col-xs-7">{{formData.reg.postcode}} {{formData.reg.woonplaats}}&nbsp;</div>
	
<div class="col-xs-5" translate>Geboortedatum</div><div class="col-xs-7">{{formData.reg.geboortedatum}}&nbsp;</div>

<div class="col-xs-5" translate>Geslacht</div><div class="col-xs-7">{{formData.reg.geslacht}}&nbsp;</div>
	
<div class="col-xs-5" translate>Hoe vaak heb je deelgenomen aan de Slachte?</div><div class="col-xs-7">{{formData.reg.deelgenomen}}&nbsp;</div>

<div class="col-xs-5" translate>Gewenste aantal kaarten</div><div class="col-xs-7">{{formData.kaarten}}&nbsp;</div>
