<div ng-class="{wit:pstates.vervoer=='edit'}"> 
	<p class="vraag" translate>Hoe kom je bij de start?</p>
	
	<div class="row form-group">
		<div class="col col-xs-12">					
		    <label class="btn btn-slg btn-info col-xs-6 onder vervoer" ng-model="formData.reg.vervoer" uib-btn-radio="'Per bus'" uncheckable>
		    <img src="images/bus.svg" alt="" align="abmiddle"/><span translate>Per bus</span>
		    </label><label class="btn btn-slg btn-info col-xs-6 onder vervoer" ng-model="formData.reg.vervoer" uib-btn-radio="'Eigen vervoer'" uncheckable>
	        <img src="images/eigen-vervoer.svg" alt="" align="absmiddle"/>
			<span translate>Eigen vervoer</span>
			</label>
		</div>	
		
		<div class="col col-xs-12" style="margin-top:-1px;">		
	        <label class="btn btn-slg btn-info col-xs-6 onder vervoer" ng-model="formData.reg.vervoer" uib-btn-radio="'Ik word gebracht (kiss & ride)'" uncheckable><img src="images/kiss-en-ride.svg" alt="" align="absmiddle"/><span><span translate>Ik word gebracht</span> (kiss & ride)</span>
	        </label><label class="btn btn-slg btn-info col-xs-6 onder vervoer" ng-model="formData.reg.vervoer" uib-btn-radio="'Ik kom lopend of met de fiets'" uncheckable><img src="images/fiets.svg" alt="" align="absmiddle"/><span translate>Ik kom lopend of met de fiets</span>
	        </label>
	  	</div>
	</div>
	  	<div class="row show-grid" >
			<div class="col col-xs-12 translate toelichting">
			Eigen auto meenemen niet mogelijk. Dit vanwege...
			</div>
	  	</div>
	
	<div class="row show-grid" ng-show="pstates.vervoer=='edit'">
			<div class="col-xs-12">
				<button class="btn btn-primary btn-lg slanted pull-right" ng-click="togglepTemplate('vervoer', 'view')" translate>Gegevens opslaan</button>
			</div>
		</div>
	</div>

	<div class="row show-grid" ng-hide="pstates.vervoer=='edit'">
		<div class="col-xs-12">
	  		<button class="btn btn-primary btn-lg slanted volgende" ng-disabled="!formData.reg.vervoer" ng-click="setStap(stap+1,'forwards')"  translate>Volgende stap</button>
		</div>
	</div>

</div>