<div class="col-xs-5" >Trainingsshirts</div><div class="col-xs-7 bold"><span ng-repeat="x in [].constructor(formData.aantaltshirts) track by $index">model: {{mgenders[formData.shirts[$index].gender]}} maat: {{formData.shirts[$index].size}}<br/></span>
{{formData.aantaltshirts}} <span >in totaal</span>
</div>

<!-- <div class="col-xs-12"><hr class="grey" style="border-top: 1px solid #a5a5a5"></div> -->

<div class="col-xs-5" style="margin-top:16px;" >Hoodies</div><div class="col-xs-7 bold" style="margin-top:16px;"><span ng-repeat="x in [].constructor(formData.aantalhoodies) track by $index">model: {{mgenders[formData.hoodies[$index].gender]}} maat: {{formData.hoodies[$index].size}}<br/></span>
{{formData.aantalhoodies}} <span >in totaal</span>	
</div>