<div ng-class="{wit:pstates.starttijd=='edit'}"> 
<p class="toelichting" translate>Hieronder kunt u uw voorkeur aangeven voor een starttijd. Wij doen ons uiterste best om u in te delen in de gevraagde starttijd. We kunnen daarvoor geen garanties gegeven. Indeling gebeurt op basis van volgorde van inschrijving.</p>
	<div class="row form-group">
		
		<div class="col col-xs-12">			
			<div class="vraag" translate>Kies een tijdstip:</div>
	        <label style="margin-left:-1px;" class="btn btn-lg btn-info btn-block btn-el" ng-model="formData.reg.starttijd" uib-btn-radio="'tussen 06:00-07:00'" uncheckable required translate>Tussen 06:00 en 07:00</label>
	        <label class="btn btn-lg btn-info btn-block btn-el" ng-model="formData.reg.starttijd" uib-btn-radio="'tussen 07:00-08:00'" uncheckable required  translate>Tussen 07:00 en 08:00</label>
	        <label class="btn btn-lg btn-info btn-block btn-el" ng-model="formData.reg.starttijd" uib-btn-radio="'tussen 08:00-09:00'" uncheckable required  translate>Tussen 08:00 en 09:00</label>
	        <label class="btn btn-lg btn-info btn-block btn-el" ng-model="formData.reg.starttijd" uib-btn-radio="'tussen 09:00-10:00'" uncheckable required  translate>Tussen 09:00 en 10:00</label>
	        <label class="btn btn-lg btn-info btn-block btn-el" ng-model="formData.reg.starttijd" uib-btn-radio="'tussen 10:00-11:00'" uncheckable required  translate>Tussen 10:00 en 11:00</label>        
	  	</div>  	
	
	

		<div class="col-xs-12 opslaan" ng-show="pstates.starttijd=='edit'">
			<button class="slanted" ng-class="{'disabled' : form.$invalid}" ng-click="(form.$invalid) ? alert(required) : togglepTemplate('starttijd', 'view')" translate>Gegevens opslaan</button>
		</div>

		<div class="col-xs-12 opslaan" ng-hide="pstates.starttijd=='edit'">
	  		<button class="volgende slanted" ng-class="{'disabled' : !formData.reg.starttijd}" ng-click="(!formData.reg.starttijd || buttondisabled) ? alert(required) : setStap(stap+1,'forwards')"><span translate>Volgende stap</span></button>
		</div>
	
</div>