<div ng-class="{wit:pstates.vervoer=='edit'}"> 
	<p class="vraag" translate>Hoe kom je bij de start?</p>
	
	<div class="row form-group">
		<div class="col col-xs-12">					
		    <label class="btn btn-slg btn-info col-xs-6 onder vervoer" ng-model="formData.reg.vervoer" uib-btn-radio="'Per bus'" required uncheckable>
		    <img src="images/bus.svg" alt="" align="abmiddle"/><span translate>Per bus</span>
		    </label><label class="btn btn-slg btn-info col-xs-6 onder vervoer" ng-model="formData.reg.vervoer" uib-btn-radio="'Eigen vervoer'" required uncheckable>
	        <img src="images/eigen-vervoer.svg" alt="" align="absmiddle"/>
			<span translate>Eigen vervoer</span>
			</label>
		</div>	
		
		<div class="col col-xs-12" style="margin-top:-1px;">		
	        <label class="btn btn-slg btn-info col-xs-6 onder vervoer" ng-model="formData.reg.vervoer" uib-btn-radio="'Ik word gebracht (kiss & ride)'" uncheckable><img src="images/kiss-en-ride.svg" alt="" align="absmiddle"/><span><span translate>Ik word gebracht</span> (kiss & ride)</span>
	        </label><label class="btn btn-slg btn-info col-xs-6 onder vervoer" ng-model="formData.reg.vervoer" uib-btn-radio="'Ik kom lopend of met de fiets'" uncheckable><img src="images/fiets.svg" alt="" align="absmiddle"/><span translate>Ik kom lopend of met de fiets</span>
	        </label>
	  	</div>
	</div>
	  	<div class="row show-grid" >
			<div class="col col-xs-12 translate toelichting">
			Eigen auto meenemen niet mogelijk. Dit vanwege...
			</div>
	  	</div>
	
	<div class="row show-grid" ng-show="formData.reg.vervoer=='Per bus'">
		<div class="col-xs-12">
	  		<hr class="hr-30"/>
		</div>
	</div>
	
	
	<div class="row form-group" ng-show="formData.reg.vervoer=='Per bus'">
		<div class="col col-xs-12">			
			<div class="vraag" translate>Kies een plek waar je wilt opstappen:</div>
	        <label ng-repeat="opstapplek in opstapplekken" class="btn btn-lg btn-info btn-block btn-el" ng-model="formData.reg.opstapplek" uib-btn-radio="'{{opstapplek}}'" required uncheckable>{{opstapplek|translate}}</label>
	        
	  	</div>  	
	</div>
	
	
	<div class="row show-grid" ng-show="pstates.vervoer=='edit'">
			<div class="col-xs-12">
				<button class="slanted pull-right" ng-click="togglepTemplate('vervoer', 'view')" translate>Gegevens opslaan</button>
			</div>
		</div>
	</div>
	<!-- formData.reg.opstapplek!="" || formData.reg.vervoer=='Ik word gebracht (kiss & ride)' -->
	<div class="row show-grid" ng-hide="pstates.vervoer=='edit'">
		<div class="col-xs-12">
	  		<button class="slanted volgende" ng-class="{'disabled' : (!formData.reg.opstapplek && formData.reg.vervoer=='Per bus') || !formData.reg.vervoer}" ng-click="((!formData.reg.opstapplek && formData.reg.vervoer=='Per bus') || !formData.reg.vervoer) ? alert(required) : setStap(stap+1,'forwards')"><span translate>Volgende stap</span></button>
		</div>
	</div>

</div>