<div class="col-xs-5" translate>Waar wil je het liefste slapen?</div><div class="col-xs-7">{{formData.reg.slapen}}&nbsp;</div>
<div class="col-xs-5" translate>Het dorp waar je wilt slapen</div><div class="col-xs-7">{{formData.reg.dorp}}&nbsp;</div>
<div class="col-xs-5" translate>Wat voor soort overnachting zou je willen?</div><div class="col-xs-7">{{formData.reg.soortovernachting}}&nbsp;</div>
<div class="col-xs-5" translate>Wil je zelf je slaapplek regelen?</div><div class="col-xs-7">{{formData.reg.slaapplek}}&nbsp;</div>
<div class="col-xs-5" translate>Neem je iemand mee?</div><div class="col-xs-7">{{formData.reg.extrapersonen}}&nbsp;</div>
<div class="col-xs-5" translate>Wil je dat de organisatie ervoor zorgt dat je bagage vrijdag naar je slaapplek wordt gebracht en op zaterdag naar de finish?</div><div class="col-xs-7">{{formData.reg.bagage}}&nbsp;</div>