<div ng-class="{wit:formData.introducees[$index].pwijzigen=='edit'}" class="container-fluid wit">
	
	<div class="row form-group">	
		<div class="col col-xs-12">			
			
			<h2 style="padding:16px 0;margin-bottom:0px;font-size:22px;"><span translate>Starttijd</span></h2>
			<div class="vraag" translate>Kies een tijdstip:</div>
			<!--<label class="btn btn-lg btn-info btn-block" ng-model="formData.starttijd" uib-btn-radio="'Zo vroeg mogelijk'" uncheckable translate>Zo vroeg mogelijk</label>-->
	        <label class="btn btn-lg btn-info btn-block" ng-model="c.starttijd" uib-btn-radio="'tussen 06:00-07:00'" uncheckable translate>Tussen 06:00 en 07:00</label>
	        <label class="btn btn-lg btn-info btn-block" ng-model="formData.introducees[$index].starttijd" uib-btn-radio="'tussen 07:00-08:00'" uncheckable translate>Tussen 07:00 en 08:00</label>
	        <label class="btn btn-lg btn-info btn-block" ng-model="formData.introducees[$index].starttijd" uib-btn-radio="'tussen 08:00-09:00'" uncheckable translate>Tussen 08:00 en 09:00</label>
	        <label class="btn btn-lg btn-info btn-block" ng-model="formData.introducees[$index].starttijd" uib-btn-radio="'tussen 09:00-10:00'" uncheckable translate>Tussen 09:00 en 10:00</label>
	        <label class="btn btn-lg btn-info btn-block" ng-model="formData.introducees[$index].starttijd" uib-btn-radio="'tussen 10:00-11:00'" uncheckable translate>Tussen 10:00 en 11:00</label>
	        <!--<label class="btn btn-lg btn-info btn-block" ng-model="formData.starttijd" uib-btn-radio="'Zo laat mogelijk'" uncheckable translate>Zo laat mogelijk</label>-->
	  	</div>
	
	
		<div class="col-xs-12 opslaan" ng-show="formData.introducees[$index].pwijzigen=='edit' ">
			<button class="slanted" ng-class="{'disabled' : !formData.introducees[$index].starttijd}" ng-click="(!formData.introducees[$index].starttijd) ? alert(required) : toggleTemplate('starttijd', 'view', $index)" translate>Gegevens Opslaan</button>
		</div>
	
	</div>
	
</div>