<div ng-class="{wit:formData.introducees[$index].pwijzigen=='edit'}" class="container-fluid wit">

<div class="row form-group">
		<div class="col-xs-12">
			<h2 style="padding:16px 0;margin-bottom:0px;font-size:22px;"><span translate>Slapen</span></h2>
		</div>
	</div>

	<div class="row form-group">
		<div class="col col-xs-12">					
			<div class="vraag" translate>Waar wil je het liefste slapen?</div>
			
		     <label class="btn btn-slg btn-info col-xs-6 vervoer" ng-model="formData.introducees[$index].slapen" uib-btn-radio="'In één van út en thús dorpen langs de route'" uncheckable><img src="images/bagage.svg" alt="" align="absmiddle"/><span translate>In één van de dorpen langs de route</span>
			 </label>
	        <label class="btn btn-slg btn-info col-xs-6 vervoer" ng-model="formData.introducees[$index].slapen" uib-btn-radio="'Ik slaap thuis'" uncheckable><img src="images/bagage-nee.svg" alt="" align="absmiddle"/><span translate>Ik slaap thuis</span></label>	    
	  	</div>
	</div>
	
	<div class="row show-grid" ng-show="formData.introducees[$index].slapen=='In één van út en thús dorpen langs de route'">
		<div class="col-xs-12">
	  		<hr class="hr-30"/>
		</div>
	</div>
	<!-- kiesdorp(dorp.post_title); formData.introducees[$index].dorp!=dorp.post_title -->
	
	<div class="row show-grid" ng-init="outerIndex=$index" ng-show="formData.introducees[$index].slapen=='In één van út en thús dorpen langs de route'">
		<div class="col col-xs-12">					
			<div class="vraag" translate>Kies een dorp waar je wilt slapen</div>
			<p translate class="toelichting">De ‘út-en-thús-dorpen’ liggen op de route. Je start de tweede dag in het dorp waar je de nacht doorgebracht hebt. De totale afstand van de Slachtemarathon is 91 km.”</p>

			<uib-accordion closse-others="true">					
							<div uib-accordion-group ng-repeat="(key, dorp) in dorpen" is-disabled="dorp.inschrijf_status==0" ng-class="{selected : formData.introducees[$index].dorp===dorp.uniek}" class="panel-default">
							  	<uib-accordion-heading>{{dorp.post_title}}<span ng-show="dorp.inschrijf_status==0">(vol)</span><i class="pull-right glyphicon" ></i></uib-accordion-heading>
							  	<div class="row row-eq-height"> 						  	
							  		<div class="col col-xs-4 dorpicon"><img ng-src="{{dorp.afbeelding}}" alt="{{dorp.post_title}}" title="{{dorp.post_title}}"/></div>
								  	<div class="col col-xs-8">
										<h3>{{dorp.typering | lowercase}}</h3>
										<b>{{dorp.afstand | lowercase}}</b><br/><br/>
										<div ng-bind-html="dorp.post_content"></div><br/><!-- $location.hash('soort-overnachting'); -->
										<button style="margin:22px 0px 32px 0;" type="button" ng-disabled="{{dorp.inschrijf_status==0}}" class="btn btn-primary btn-lg slanted volgende" ng-click="formData.introducees[outerIndex].dorp=dorp.uniek;$location.hash('soort-overnachting-i')">Hier wil ik slapen</button><br/><div class="toelichting" ng-show="dorp.inschrijf_status==0" translate>Je kunt helaas niet meer in dit dorp slapen omdat alle plaatsen inmiddels bezet zijn.</div>
									</div>
							  	</div>	
			
			</uib-accordion>
		</div>
			
	</div>
	</div>
	<div class="row show-grid" ng-show="formData.introducees[$index].slapen=='In één van út en thús dorpen langs de route' && formData.introducees[$index].dorp">
		<a id="soort-overnachting-i"></a>
		<div class="col-xs-12">
		  	<hr class="hr-30"/>
		</div>
	</div>
		
	<div class="row show-grid" ng-show="formData.introducees[$index].slapen=='In één van út en thús dorpen langs de route' && formData.introducees[$index].dorp">
		
		<div class="col-xs-12">
		  	<div class="vraag" translate>Wat voor soort overnachting wil je?</div>
		  	<label style="margin-left:-1px" data-vol="{{'Niet meer beschikbaar'|translate}}" class="btn btn-lg btn-info btn-block btn-el" ng-model="formData.introducees[$index].soortovernachting" ng-click="formData.introducees[$index].slaapplek=''" uib-btn-radio="'In een groepsaccomodatie'" ng-disabled="dorpen[formData.introducees[$index].dorp].groepsaccomodaties < 1" uncheckable translate>In een groepsaccomodatie (dorpshuis of sporthal)</label>
				<label class="btn btn-lg btn-info btn-block btn-el" data-vol="{{'Niet meer beschikbaar'|translate}}" ng-disabled="dorpen[formData.introducees[$index].dorp].thuis < 1" ng-model="formData.introducees[$index].soortovernachting" ng-click="formData.introducees[$index].slaapplek=''" uib-btn-radio="'Bij iemand thuis'" uncheckable translate>Bij iemand thuis</label>
				<label class="btn btn-lg btn-info btn-block btn-el" data-vol="{{'Niet meer beschikbaar'|translate}}" ng-disabled="dorpen[formData.introducees[$index].dorp].festipi < 1" ng-model="formData.introducees[$index].soortovernachting" ng-click="formData.introducees[$index].slaapplek='Ik regel het zelf'" uib-btn-radio="'Festipi'" uncheckable translate>In een Festipi (ingerichte tent die je zelf moet boeken, hier zijn extra kosten aan verbonden).</label>
				<label class="btn btn-lg btn-info btn-block btn-el" data-vol="{{'Niet meer beschikbaar'|translate}}" ng-disabled="dorpen[formData.introducees[$index].dorp].tenten < 1" ng-model="formData.introducees[$index].soortovernachting" uib-btn-radio="'In eigen tent'" uncheckable translate>In eigen tent</label>
				<label class="btn btn-lg btn-info btn-block btn-el" data-vol="{{'Niet meer beschikbaar'|translate}}" ng-disabled="dorpen[formData.introducees[$index].dorp].campers < 1" ng-model="formData.introducees[$index].soortovernachting" uib-btn-radio="'In eigen camper of caravan'" uncheckable translate>In eigen camper of caravan</label>
			
			<p class="uitroepteken" translate="">Als je overnacht in een eigen tent, caravan of camper is het mogelijk om iemand die niet meedoet met de Slachtemarathon bij je te laten logeren. Verderop in dit systeem kun je dit aangeven. Extra kosten zijn dan € 13,00 en deze persoon krijgt dan op dag twee ook een ontbijt.</p>
			</div>
		</div>
		
	<div class="row show-grid" ng-show="(formData.introducees[$index].soortovernachting==='Festipi' || formData.introducees[$index].soortovernachting==='In een groepsaccomodatie' || formData.introducees[$index].soortovernachting==='Bij iemand thuis') && formData.introducees[$index].slapen=='In één van út en thús dorpen langs de route' && formData.introducees[$index].soortovernachting">
		<div class="col-xs-12">
		  	<hr class="hr-30"/>
		</div>
	</div>
		<!-- || formData.introducees[$index].soortovernachting==='Festipi'-->
	<div class="row show-grid" ng-show="(formData.introducees[$index].soortovernachting==='Festipi' || formData.introducees[$index].soortovernachting==='In een groepsaccomodatie' || formData.introducees[$index].soortovernachting==='Bij iemand thuis') && formData.introducees[$index].slapen=='In één van út en thús dorpen langs de route' && formData.introducees[$index].soortovernachting">
		<div class="col-xs-12">
		  	<div class="vraag" translate>Wil je zelf je slaapplek regelen of doen wij dat voor je?</div>
				<label class="btn btn-lg btn-info btn-block btn-el" ng-model="formData.introducees[$index].slaapplek" uib-btn-radio="'Ik regel het zelf'" uncheckable translate>Ik regel het zelf</label>
		        <label class="btn btn-lg btn-info btn-block btn-el" ng-model="formData.introducees[$index].slaapplek" uib-btn-radio="'Organisatie regelt dat voor mij'" uncheckable translate>Organisatie regelt dat voor mij</label>		        	
			</div>
		</div>
		
		
		
	<div class="row show-grid" ng-show="formData.introducees[$index].soortovernachting==='Bij iemand thuis' && formData.introducees[$index].slapen=='In één van út en thús dorpen langs de route' && formData.introducees[$index].soortovernachting">
		<div class="col-xs-12">
		  	<hr class="hr-30"/>
		</div>
	</div>
		<!-- || formData.introducees[$index].soortovernachting==='Festipi'-->
	<div class="row show-grid" ng-show="formData.introducees[$index].soortovernachting==='Bij iemand thuis' && formData.introducees[$index].slapen=='In één van út en thús dorpen langs de route' && formData.introducees[$index].soortovernachting">
		<div class="col-xs-12">
		  	<div class="vraag" translate>Hoeveel nachten blijf je slapen?</div>
				<label class="btn btn-lg btn-info btn-block btn-el" ng-model="formData.introducees[$index].nachtenslapen" uib-btn-radio="'Ik blijf 2 nachten slapen'" uncheckable translate>Ik blijf 2 nachten slapen (donderdagnacht en vrijdagnacht)</label>
		        <label class="btn btn-lg btn-info btn-block btn-el" ng-model="formData.introducees[$index].nachtenslapen" uib-btn-radio="'Ik blijf 1 nacht slapen'" uncheckable translate>Ik blijf 1 nacht slapen (vrijdagnacht)</label>		        	
			</div>
		</div>
		
		
		
		
		
		
		<div class="row show-grid" ng-show="(formData.introducees[$index].soortovernachting==='In eigen tent' || formData.introducees[$index].soortovernachting==='In eigen camper of caravan') && formData.introducees[$index].slapen=='In één van út en thús dorpen langs de route'">
			<div class="col-xs-12">
		  		<hr class="hr-30"/>
			</div>
		</div>
		
		<div class="row show-grid" ng-show="(formData.introducees[$index].soortovernachting==='In eigen tent' || formData.introducees[$index].soortovernachting==='In eigen camper of caravan') && formData.introducees[$index].slapen=='In één van út en thús dorpen langs de route'">
			<div class="col-xs-12">
		  		<div class="vraag" translate>Wanneer breng je je tent, caravan, camper?</div>
				<label class="btn btn-lg btn-info btn-block btn-el" ng-model="formData.introducees[$index].tentcaravancamper" uib-btn-radio="'Op vrijdag 31 augustus'" uncheckable translate>Op vrijdag 31 augustus</label>
				<label class="btn btn-lg btn-info btn-block btn-el" ng-model="formData.introducees[$index].tentcaravancamper" uib-btn-radio="'Op donderdag 30 augustus'" uncheckable translate>Op donderdag 30 augustus</label>
		        
		        		        		        	
			</div>
		</div>

		
		<div class="row show-grid" ng-show="(formData.introducees[$index].soortovernachting==='In eigen tent' || formData.introducees[$index].soortovernachting==='In eigen camper of caravan') && formData.introducees[$index].slapen=='In één van út en thús dorpen langs de route'">
			<div class="col-xs-12">
		  		<hr class="hr-30"/>
			</div>
		</div>
		
		<div class="row show-grid" ng-show="(formData.introducees[$index].soortovernachting==='In eigen tent' || formData.introducees[$index].soortovernachting==='In eigen camper of caravan') && formData.introducees[$index].slapen=='In één van út en thús dorpen langs de route'">
			<div class="col-xs-12">
		  		<div class="vraag" translate>Blijft er iemand bij je logeren die niet meedoet aan de Slachtemarathon? De kosten voor een extra persoon zijn &euro; {{bijslaper.toFixed(2)}}</div>
				<label class="btn btn-lg btn-info btn-block btn-el" ng-model="formData.introducees[$index].extrapersonen" uib-btn-radio="'Nee'" uncheckable translate>Nee</label>
		        
		        <label ng-repeat="x in [].constructor(formData.kaarten*2) track by $index" class="btn btn-lg btn-info btn-block btn-el" ng-model="formData.introducees[outerIndex].extrapersonen" uib-btn-radio="'{{$index+1}}'" uncheckable translate translate-n="{{$index+1}}" translate-plural="Ja, {{$count}} personen extra">Ja, 1 persoon extra</label>
		        		        	
			</div>
		</div>
		
		<div class="row show-grid" ng-show="formData.introducees[$index].slapen=='In één van út en thús dorpen langs de route' && formData.introducees[$index].soortovernachting">
			<div class="col-xs-12">
		  		<hr class="hr-30"/>
			</div>
		</div>
		
		<div class="row show-grid" ng-show="formData.introducees[$index].slapen=='In één van út en thús dorpen langs de route' && formData.introducees[$index].soortovernachting">
			<div class="col-xs-12">
				<h2 style="margin: 32px 0 20px;" translate>Bagage</h2>
				<div class="vraag" translate>Wil je dat de organisatie ervoor zorgt dat je bagage vrijdag naar je slaapplek wordt gebracht en op zaterdag naar de finish?</div>
					<label class="btn btn-slg btn-info col-xs-6 vervoer" ng-model="formData.introducees[$index].bagage" uib-btn-radio="'Ja, graag verzorgen'" uncheckable><img src="images/bagage.svg" alt="" align="absmiddle"/><span translate>Ja, graag verzorgen</span>
					</label>
					<label class="btn btn-slg btn-info col-xs-6 vervoer" ng-model="formData.introducees[$index].bagage" uib-btn-radio="'Nee, dit verzorg ik zelf'" uncheckable><img src="images/bagage-nee.svg" alt="" align="absmiddle"/><span translate>Nee, dit verzorg ik zelf</span></label>	    
			</div>
		</div>		
		
				
		<div class="row show-grid" ng-show="pstates.slapen=='edit'">
				<div class="col-xs-12 opslaan">
					<button class="slanted" ng-class="{'disabled' : !formData.introducees[$index].slaapplek && !formData.introducees[$index].bagage}"  ng-click="(!formData.introducees[$index].slaapplek && !formData.introducees[$index].bagage) ? alert(required) : togglepTemplate('slapen', 'view')" translate>Gegevens opslaan</button>
				</div>
			</div>
		</div>

		<div class="row show-grid" ng-hide="pstates.slapen=='edit'">
			<div class="col-xs-12 opslaan"><!--( (formData.introducees[$index].soortovernachting==='Eigen tent' || formData.introducees[$index].soortovernachting==='Eigen camper') && !formData.introducees[$index].bagage) || ( (formData.introducees[$index].soortovernachting==='Festipi' || formData.introducees[$index].soortovernachting==='In een groepsaccomodatie' || formData.introducees[$index].soortovernachting==='Bij iemand thuis') && !formData.introducees[$index].slaapplek) formData.introducees[$index].slapen!='Ik slaap thuis' || ( -->
		  		<button class="slanted" ng-class="{'disabled' : formData.introducees[$index].slapen =='In één van út en thús dorpen langs de route' && !formData.introducees[$index].bagage}" ng-click="(!formData.introducees[$index].slaapplek && !formData.introducees[$index].bagage) ? alert(required) : toggleTemplate('slapen', 'view', $index)" translate>Gegevens opslaan</button>
			</div>
		</div>
	
</div>