<!--<div class="col-xs-12">
			<h2 style="padding:16px 0 16px 15px;;margin-bottom:0px;font-size:22px;">
				<span translate>Vervoer</span> 
				<span ng-click="toggleTemplate('vervoer', 'edit', $index)" class='pull-right wijzigen' translate>Vervoer wijzigen</span></h2>
		</div>
		
		<div class="col-xs-5"></div><div class="col-xs-7 bold">{{formData.introducees[$index].vervoer}}</div>
		<div class="col-xs-5" ng-show="formData.introducees[$index].vervoer=='Per bus'" translate>Opstapplek</div><div class="col-xs-7 bold" ng-show="formData.reg.vervoer=='Per bus'">{{formData.reg.opstapplek}}</div>
-->
<div class="col-xs-12">
			<h2 style="padding:16px 0 16px 15px;;margin-bottom:0px;font-size:22px;">
				<span translate>Vervoer</span> 
				<span ng-click="toggleTemplate('vervoer', 'edit', $index)" class='pull-right wijzigen' translate>Vervoer wijzigen</span></h2>
		</div>
<div class="col-xs-5" style="padding-left:32px;" translate>Vervoer</div><div class="col-xs-7 bold">{{formData.introducees[$index].vervoer|translate}}</div>
<div class="col-xs-5" style="padding-left:32px;" ng-show="formData.introducees[$index].vervoer=='Met de Slachtemarathonbus'" translate>Opstapplek</div><div class="col-xs-7 bold" ng-show="formData.introducees[$index].vervoer=='Met de Slachtemarathonbus'">{{formData.introducees[$index].opstapplek|translate}}</div>
