<div class="col-xs-12">
			<h2 style="padding:16px 0 16px 15px;margin-bottom:0px;font-size:22px;">
				<span translate>Slapen</span> 
				<span ng-click="toggleTemplate('slapen', 'edit', $index)" class='pull-right wijzigen' translate>Slapen wijzigen</span>
			</h2>
		</div>
		<div class="col-xs-5" style="padding-left:32px;" translate>Waar wil je het liefste slapen?</div><div class="col-xs-7 bold">{{formData.introducees[$index].slapen}}&nbsp;</div>
		<div class="col-xs-5" style="padding-left:32px;" translate>Het dorp waar je wilt slapen</div><div class="col-xs-7 bold">{{formData.introducees[$index].dorp}}&nbsp;</div>
		<div class="col-xs-5" style="padding-left:32px;" translate>Wat voor soort overnachting zou je willen?</div><div class="col-xs-7 bold">{{formData.introducees[$index].soortovernachting}}&nbsp;</div>
		<div class="col-xs-5" style="padding-left:32px;" translate>Wil je zelf je slaapplek regelen?</div><div class="col-xs-7 bold">{{formData.introducees[$index].slaapplek}}&nbsp;</div>
		
		<!--<div class="col-xs-5" style="padding-left:32px;" translate>Neem je iemand mee?</div><div class="col-xs-7 bold">{{formData.introducees[$index].extrapersonen}}&nbsp;</div>-->
		
		<div class="col-xs-5" style="padding-left:32px;" translate>Wil je dat de organisatie ervoor zorgt dat je bagage vrijdag naar je slaapplek wordt gebracht en op zaterdag naar de finish?</div><div class="col-xs-7 bold">{{formData.introducees[$index].bagage}}&nbsp;</div>
		</div>
		
		
	