<div ng-class="{wit:pstates.starttijd=='edit'}"> 
<p class="toelichting" >Hieronder kun je je voorkeur aangeven voor een starttijd. Wij doen ons uiterste best om je in te delen in de gevraagde starttijd. We kunnen daarvoor geen garanties gegeven. Indeling gebeurt op basis van volgorde van inschrijving.</p>
	<div class="row form-group">
		
		<div class="col col-xs-12">
			<div class="vraag" >Kies een tijdstip:</div>
	        	<label data-vol="{{'Starttijd volgeboekt'}}" ng-repeat="(key, starttijd) in starttijden" ng-disabled="starttijd.capaciteit - starttijd.inschrijvingen <= 0" ng-class="{first:$first}" class="btn btn-lg btn-info btn-block btn-el" ng-model="formData.reg.starttijd" uib-btn-radio="'{{starttijd.van}}-{{starttijd.tot}}'" uncheckable required><span >Tussen</span> {{starttijd.van}} <span >en</span> {{starttijd.tot}}</label>
	  	</div>  	
	
	

		<div class="col-xs-12 opslaan" ng-show="pstates.starttijd=='edit'">
			<button class="slanted" ng-class="{'disabled' : form.$invalid}" ng-click="(form.$invalid) ? alert(required) : togglepTemplate('starttijd', 'view')" >Gegevens opslaan</button>
		</div>

		<div class="col-xs-12 opslaan" ng-hide="pstates.starttijd=='edit'">
	  		<button class="volgende slanted" ng-class="{'disabled' : !formData.reg.starttijd}" ng-click="(!formData.reg.starttijd || buttondisabled) ? alert(required) : setStap(stap+1,'forwards')"><span >Volgende stap</span></button>
		</div>
	
</div>