<div>
	<div class="col-xs-5" >Slaapplek</div>
	<div class="col-xs-7 bold">{{formData.reg.slapen}}&nbsp;</div>
</div>

<div ng-show="formData.reg.slapen=='In één van de út-en-thús-dorpen langs de route'">
	<div class="col-xs-5"  >Het dorp waar je wilt slapen</div>
	<div class="col-xs-7 bold bold">{{formData.reg.dorp}}&nbsp;</div>
</div>

<div ng-show="formData.reg.slapen=='In één van de út-en-thús-dorpen langs de route'">
	<div class="col-xs-5" >Soort overnachting</div>
	<div class="col-xs-7 bold">{{formData.reg.soortovernachting}}&nbsp;</div>
</div>

<div ng-show="(formData.reg.soortovernachting==='Bij iemand thuis') && formData.reg.slapen=='In één van de út-en-thús-dorpen langs de route' && formData.reg.soortovernachting && formData.reg.dorp!='Tritzum'">
	<div class="col-xs-5" >Wil je zelf je slaapplek regelen?</div>
	<div class="col-xs-7 bold">{{formData.reg.slaapplek}}&nbsp;</div>
</div>

<div style="display:block;clear:both;" ng-show="(formData.reg.soortovernachting==='In eigen camper of caravan' || formData.reg.soortovernachting==='In eigen tent') && formData.reg.dorp!='Tritzum'">
	<div class="col-xs-5" >Hoeveel nachten blijf je slapen?</div>
	<div class="col-xs-7 bold">{{formData.reg.nachtenslapen}}&nbsp;</div>
</div>

<div style="display:block;clear:both;" ng-show="formData.reg.tentcaravancamper">
	<div class="col-xs-5" >Wanneer breng je je tent, caravan, camper?</div>
	<div class="col-xs-7 bold">{{formData.reg.tentcaravancamper}}&nbsp;</div>
</div>

<div style="display:block;clear:both;" ng-show="formData.reg.extrapersonen">
	<div class="col-xs-5" >Blijft er iemand bij je logeren die niet meedoet aan de Slachtemarathon?</div>
	<div class="col-xs-7 bold">{{formData.reg.extrapersonen}} <span >personen</span></div>
</div>

<div style="display:block;clear:both;" ng-show="formData.reg.slapen=='In één van de út-en-thús-dorpen langs de route' && formData.reg.soortovernachting">
	<div class="col-xs-5" >Bagage</div>
	<div class="col-xs-7 bold">{{formData.reg.bagage}}</div>
</div>
	




<!--
<div class="col-xs-5" ng-show="formData.reg.slapen=='In één van de út-en-thús-dorpen langs de route' && (formData.reg.soortovernachting=='In een groepsaccommodatie' || formData.reg.soortovernachting=='Bij iemand thuis')" >Wil je zelf je slaapplek regelen?</div><div ng-show="formData.reg.soortovernachting=='In een groepsaccommodatie' || formData.reg.soortovernachting=='Bij iemand thuis'" class="col-xs-7 bold">{{formData.reg.slaapplek}}&nbsp;</div>
<div class="col-xs-5" ng-show="formData.reg.soortovernachting=='Eigen tent' || formData.reg.soortovernachting=='Eigen Camper'" >Neem je iemand mee?</div><div ng-show="formData.reg.soortovernachting=='Eigen tent' || formData.reg.soortovernachting=='Eigen Camper'" class="col-xs-7 bold">{{formData.reg.extrapersonen}}&nbsp;</div>
<div class="col-xs-5" >Wil je dat de organisatie ervoor zorgt dat je bagage vrijdag naar je slaapplek wordt gebracht en op zaterdag naar de finish?</div><div class="col-xs-7 bold">{{formData.reg.bagage}}&nbsp;</div>

-->