<div class="container-fluid" style="width:100%;padding: 0px 32px">
  	<div class="col-xs-12">
  		<h2 translate>Bedankt!</h2>
  		<div class="row form-group" ng-init="Bedankt()">
  			<div class="col col-xs-12" translate>Veel plezier gewenst tijdens de Slachtemarathon</div>
  			<div class="col col-xs-12" translate>Klik <a href="http://www.slachtemarathon.nl">hier</a> om terug te keren naar de website van de Slachtemarathon</div>
  			<!-- ga naar de slachte website -->
		</div>
  	</div>
</div>
