<!-- form.html ng-click="setStap(stap.stap)" ng-submit="processForm()" stap > 0 && --> 

<div class="whitebar">
	<button type="button" class="prev btn btn-info btn-lg" ng-show="!betaald" ng-click="setStap(stap-1, 'backwards')">
	<span translate>Vorige stap</span>
	<span ng-show="stappen[stap-1].title">:</span> 
	<span>{{stappen[stap-1].title}}</span>
	<div translate>terug</div>
	</button>
	</div>

<div id="error_wrapper" ng-show="errors">
	<div class="melding alert alert-warning" style="background:#E00915;border-radius:0;color:#fff!important;position: relative;left:0%;top:0%;transform: translate(0%,-100%)" ng-bind-html="errormessage">{{errormessage}}</div>
</div>

<div id="stappen-mobile"><span>{{stappen[stap].stap-1}}</span><span>/</span><span>{{stappen.length}}</span></div>
<div class="row form-group" style="padding:0 0 64px 0">
  <div class="container-fluid main-container">
  	<div class="main-col col-xs-{{stap==0?12:9}}">
	  	<!-- angular-validator-submit="processForm()"  -->
	  	 <form id="signup-form" method="post" name="form" angular-validator novalidate>
			<input type="hidden" name="totaalbedrag" id="totaalbedrag" ng-model="totaalbedrag">
			<!-- our nested state views will be injected here -->
            <div id="form-views" ng-class="direction" ui-view autoscroll="true"></div>
        </form>
        		  	
  	</div>
  	
  	<div class="col-xs-3 stappen-container">
		<div ng-show="inschrijving_status==1 && stap!=0">
			<ul id="stappen" class="" ng-class="(stap==8)?'finished':''">
				<li ng-repeat="stap in stappen" ng-class="{passed : stap.passed, active : stap.active}">
					<a ui-sref-active="active" ui-sref="{{stap.name}}" title="{{stap.name}}" sng-click="setStap(stap.stap)">{{stap.title}}</a>
				</li>             
			</ul>	
		</div>	  	
  	</div>
  </div>
</div>

 <pre style="width:calc(100% - 64px);overflow: visible;word-break:break-all;
">{{formData.hoodies}}</pre>



 
 
 