<div id="overzicht" class="row show-grid" style="background:#ededed;">
		  
		<!--<div class="col-xs-12" style="background:#dcdcdc;">
	  		<h1><span translate>Startkaart</span> <span>{{$index+1}}</span>: {{formData.introducees[$index].voornaam}} {{formData.introducees[$index].tussenvoegsels}} {{formData.introducees[$index].achternaam}}</h1>
		</div>
		-->

		<div class="slide-animate-container">
			<div id="persoonsgegevens-stap" class="slide-animate" ng-include="templates.gegevens[states[$index]['gegevens']]"></div>
		</div>
	
		<div class="col-xs-12"><hr class="grey" style="border-top: 1px solid #a5a5a5"/></div>
		<!-- templates.starttijd[states['starttijd']] -->	
		<!-- BIJ INIT WORDT DE DATA GEKOPIEERD NAAR DE INTRODUCEES templates['starttijd'][states['starttijd']]-->
		<div class="slide-animate-container">
			<div id="startttijd-stap" class="slide-animate" ng-init="setIntroduceData($index)" ng-include="templates.starttijd[states[$index]['starttijd']]"></div>
		</div>
		
		<div class="col-xs-12"><hr class="grey" style="border-top: 1px solid #a5a5a5"/></div>
			
		
		<div class="slide-animate-container">
			<div id="startttijd-stap" class="slide-animate" ng-include="templates.vervoer[states[$index]['vervoer']]"></div>
		</div>
		
		<div class="col-xs-12"><hr class="grey" style="border-top: 1px solid #a5a5a5"/></div>
			
		
		<div class="slide-animate-container">
			<div id="startttijd-stap" class="slide-animate" ng-include="templates.slapen[states[$index]['slapen']]"></div>
		</div>
		
		

	
			
</div>
	