<h2 translate>Inloggen</h2>
<p class="toelichting" ng-hide="reminder" translate>Freonen hebben van ons een e-mail met gebruikersnaam en wachtwoord gekregen. Vul deze gegevens hier in.</p>

<div class="row form-group" ng-hide="reminder">
	<div class="col col-sm-6">			
		<input type="text" class="form-control" placeholder="" name="user" id="user" ng-model="formData.user" required>
		<label for="user" translate>Gebruikersnaam</label>
		<div ng-show='form.user.$error.required && form.user.$dirty'class="alert alert-danger" role="alert" translate>Dit is een verplicht veld</div>		
  	</div>
</div>

<div class="row form-group" ng-hide="reminder">
	<div class="col col-sm-6">			
		<input type="password" class="form-control" placeholder="" name="password" id="password" ng-model="formData.password" required>
		<label for="password" translate>Wachtwoord</label>
		<div ng-show='form.password.$error.required'class="alert alert-danger" role="alert" translate>Dit is een verlicht veld
		</div>
  	</div>
</div>

<div class="row show-grid" ng-hide="reminder">
	<div class="col col-xs-6">
  		<a href="#" ng-click="setReminder('1')" translate>wachtwoord vergeten?</a>
	</div>
</div>
	
<div class="row show-grid" ng-hide="reminder">
	<div class="col col-xs-6">
  		<div class="alert alert-danger fade in alert-dismissable" ng-show="loginError">
			<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
			<span><span translate>De ingevoerde gebruikersnaam of wachtwoord zijn helaas niet goed.<br/>Probeer het nog een keer of</span> <a href="#" ng-click="setReminder('0')" translate>klik hier</a> <span translate>om uw logingegevens op te vragen.</span></span>
		</div>		
	</div>
</div>

<div class="row show-grid" ng-show="reminder">
	<div class="col col-xs-12">
		<p class="toelichting">{{sendlogintxt}}</p>
	</div>
	
	
	<div class="col col-xs-6">
		<input type="email" class="form-control" name="freonenemail" id="freonenemail" ng-model="formData.emailfreon" freonen-email-exists required>
		<label for="freonenemail" translate>E-mailadres</label>	
		<div ng-show='(form.freonenemail.$error.freonenEmailExists || form.freonenemail.$error.required || form.freonenemail.$error.email) && form.freonenemail.$dirty' class="validatie" role="alert">
				<span ng-if="form.freonenemail.$error.freonenEmailExists" translate>Dit e-mailadres is niet bij ons geregistreerd</span>
				<span ng-show="form.freonenemail.$pending.freonenEmailExists" translate>E-mail controle...</span>				
				
				<span ng-if="form.freonenemaill.$error.required" translate>E-mail veld mag niet leeg zijn</span>
				<span ng-if="form.freonenemail.$error.email" translate>E-mail veld verkeerd geschreven</span>
		
			</div>
		
		<div style="margin-top:16px"><a href="#" ng-click="setReminder(0)" translate>&laquo; terug</a></div>
		
		<button style="margin-top:25px;" type="button" class="slanted" ng-class="{'disabled' : !formData.emailfreon}" ng-click="sendInlog();"><span translate>Stuur inloggegevens</span></button>
	</div>
</div>

<div class="row show-grid">
	<div class="col col-xs-6" ng-hide="reminder">
  		 <button style="margin-top:25px;" type="button" class="volgende slanted" ng-class="{'disabled' : buttondisabled}" ng-click="(buttondisabled)? alert(required) : inloggen()"><span translate>Volgende stap</span></button>
		
	</div>
</div>

