
	<h1 class="welkom">Welkom | Wolkom | Welcome</h1>
	<p class="toelichting" translate>We nemen u stap voor stap mee door de kaartverkoop voor de Slachtemarathon op 31 augustus en 
1 september 2018. Heeft u moeite met het invullen? Kijk dan op de website de filmpjes en lees goed door wat u allemaal bij de hand moet houden.</p>
	
	
	<div class="row" style="margin-top:64px;">
		<div class="col-md-3">
			 <button type="button" class="btn btn-primary btn-lg btn-block slanted" style="padding:19px 0;" ng-click="setLanguage('nl_NL')">Bestel tickets</button>
           </div>        
		<div class="col-md-3">
            <button type="button" class="btn btn-primary btn-lg btn-block slanted" style="padding:19px 0;" ng-click="setLanguage('fy_NL')">Bestel kaartsjes</button>
		</div> 
		<div class="col-md-3">
            <button type="button" class="btn btn-primary btn-lg btn-block slanted" style="padding:19px 0;" ng-click="setLanguage('en_EN')">Order tickets</button>
		</div>    
</div>