<a translate>form.welkom</a>
<a translate> form.persoonlijke-gegevens</a>
<a translate>form.aantalkaarten</a>
<a translate>form.inloggen</a>
<a translate>form.starttijd</a>
<a translate>form.vervoer</a>
<a translate>form.slapen</a>
<a translate>form.kleding</a>
<a translate>form.bagage</a>
<a translate>form.overzicht</a>
<a translate>form.betalen</a>
<a translate>form.betalensimulatie</a>
<span translate>In één van de út-en-thús-dorpen langs de route</span>
<span translate>Met de Slachtemarathonbus</span>
<span translate>Nog niet alle vereiste velden zijn ingevuld. Kijk de gegevens goed na.</span>
<span translate>heren</span>
<span translate>dames</span>
<span translate>Sneek</span>
<span translate>Leeuwarden</span>
<span translate>Heerenveen</span>
<span translate>Franeker/Harlingen</span>
