<ul id="stappen" class="ng-scope">
	 <!-- ngRepeat: stap in stappen --><li ng-repeat="stap in stappen" class="ng-scope">
        <a translate ui-sref-active="active" ui-sref="form.welkom" title="form.welkom" class="ng-binding active" href="#!/form/welkom"> 
            form.welkom
        </a>
      </li><!-- end ngRepeat: stap in stappen --><li ng-repeat="stap in stappen" class="ng-scope">
        <a translate ui-sref-active="active" ui-sref="form.persoonlijke-gegevens" title="form.persoonlijke-gegevens" class="ng-binding" href="#!/form/persoonlijke-gegevens"> 
            form.persoonlijke-gegevens
        </a>
      </li><!-- end ngRepeat: stap in stappen --><li ng-repeat="stap in stappen" class="ng-scope">
        
        <a translate ui-sref-active="active" ui-sref="form.inloggen" title="form.inloggen" class="ng-binding" href="#!/form/inloggen"> 
            form.inloggen
        </a>
        
        <a translate ui-sref-active="active" ui-sref="form.starttijd" title="form.starttijd" class="ng-binding" href="#!/form/starttijd"> 
            form.starttijd
        </a>
      </li><!-- end ngRepeat: stap in stappen --><li ng-repeat="stap in stappen" class="ng-scope">
        <a translate ui-sref-active="active" ui-sref="form.vervoer" title="form.vervoer" class="ng-binding" href="#!/form/vervoer"> 
            form.vervoer
        </a>
      </li><!-- end ngRepeat: stap in stappen --><li ng-repeat="stap in stappen" class="ng-scope">
        <a translate ui-sref-active="active" ui-sref="form.slapen" title="form.slapen" class="ng-binding" href="#!/form/slapen"> 
            form.slapen
        </a>
      </li><!-- end ngRepeat: stap in stappen --><li ng-repeat="stap in stappen" class="ng-scope">
        <a translate ui-sref-active="active" ui-sref="form.shirts" title="form.shirts" class="ng-binding" href="#!/form/shirts"> 
            form.shirts
        </a>
      </li><!-- end ngRepeat: stap in stappen --><li ng-repeat="stap in stappen" class="ng-scope">
        <a translate ui-sref-active="active" ui-sref="form.bagage" title="form.bagage" class="ng-binding" href="#!/form/bagage"> 
            form.bagage
        </a>
      </li><!-- end ngRepeat: stap in stappen --><li ng-repeat="stap in stappen" class="ng-scope">
        <a translate ui-sref-active="active" ui-sref="form.overzicht" title="form.overzicht" class="ng-binding" href="#!/form/overzicht"> 
            form.overzicht
        </a>
      </li><!-- end ngRepeat: stap in stappen --><li ng-repeat="stap in stappen" class="ng-scope">
        <a translate ui-sref-active="active" ui-sref="form.betalen" title="form.betalen" class="ng-binding" href="#!/form/betalen"> 
            form.betalen
        </a>
      </li>      
      <li ng-repeat="stap in stappen" class="ng-scope">
        <a translate ui-sref-active="active" ui-sref="form.betalen" title="form.betalen" class="ng-binding" href="#!/form/betalen"> 
           form.betalensimulatie
        </a>
      </li><!-- end ngRepeat: stap in stappen -->             
 </ul>