weg
<div ng-shosw="inschrijving_status==1">
	<h1 class="welkom">Welkom | Wolkom | Welcome</h1>
	
	<div class="row" style="margin-top:14px;">
		<div class="col-xs-8"><p class="toelichtings col-xs-8 clearfix" style="padding:0px" translate>We nemen je stap voor stap mee door de kaartverkoop voor de Slachtemarathon op 31 augustus en 1 september 2018. Heb je moeite met het invullen? Bekijk dan de informatie op de website en het filmpje zodat je weet welke informatie je nodig hebt.</p>
</div>
		<div class="col-xs-4"></div>
	</div>

	
	
			
	<div class="row" style="margin-top:64px;">
		<div class="col-xs-3">
			 <button type="button" class="btn btn-primary btn-lg btn-block slanted" style="padding:19px 0;" ng-click="setLanguage('nl_NL')">Bestel tickets</button>
           </div>        
		<div class="col-xs-3">
            <button type="button" class="btn btn-primary btn-lg btn-block slanted" style="padding:19px 0;" ng-click="setLanguage('fy_NL')">Bestel kaartsjes</button>
		</div> 
		<div class="col-xs-3">
            <button type="button" class="btn btn-primary btn-lg btn-block slanted" style="padding:19px 0;" ng-click="setLanguage('en_EN')">Order tickets</button>
		</div>    
</div>

</div>

<div ng-shosw="inschrijving_status==0">
	<h1 class="welkom">Helaas...</h1>
	<p class="toelichting" translate>Op dit moment kun je je niet meer inschrijven omdat alle kaarten voor de Slachtemarathon 2018 verkocht zijn.</p>	
</div>